#location {
    width: 1200px;
    height: 410px;
}

#location .infoBoxContent .title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    line-height: 22px;
    margin-bottom: 26px;
}

#location .infoBoxContent .desc {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 34px;
}

#location .infoBoxContent:before {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 30px solid #4979a0;
    position: absolute;
    left: -20px;
    top: calc(50% - 20px);
    margin-left: -20px;
}

.info {
    display: none;
}

@media screen and (max-width: 900px) {
    #location {
        width: 100%;
    }
    #location .infoBoxContent {
        display: none;
    }
    .info {
        display: block;
    }
    .info .cor-name {
        font-size: 18rpx;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #333;
        line-height: 22px;
        margin: 24px 0 12px;
    }
    .info .cor-name .cor-contact {
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #333;
        line-height: 38px;
    }
    .info .cor-name .cor-contact span {
        color: #2d4dd7;
    }
}